.container_perfil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:auto;
}
.container_perfil div{
  box-shadow: none !important;
  background: none !important;
  /* height: none !important; */
  
 
}

.esquerdo{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding-top:20px !important;
    border-right: #BF0404 3px solid !important;
    width: 30vw;
    background-color:#EFF3F6 !important;
    height: 100% !important;
    
  }
  .menu_perfil{
    color: var(--cinza-fonte) ;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 4.0em; 
    background-color:#EFF3F6 !important;
    /* height: 100% !important; */
    margin-top: -17px;
   
    
  }
  #icon_font{
    color: #BF0404;
    
    margin-left: 40px;
    padding-top: 50px;

    
  }

  .ativo{
      border-left: solid 2px var(--vermelho) ;
      margin-left: 3px;
  }
  .menu_perfil li{
    list-style: none;
}
.menu_perfil p{
  text-decoration: none;
  color: #707070 !important;
  font-size: 1.5em !important;
  list-style: none;
  padding-left: 10px !important;
}
.menu_perfil img {
  width: 200px !important;
}
@media(max-width:1169px){
  .menu_perfil, .esquerdo{
    background-color:#EFF3F6;
    
}
}

/* celular */
@media(max-width:845px){
.esquerdo{
  width: 70vw !important;
  background-color:#EFF3F6 !important;
  margin-top: -58px;
  

}
.menu_perfil{
  background-color:#EFF3F6 !important;
  margin-top: 40px;
}
}
